<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kofu.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.kofu.infra.modules.codegroup.CodeGroup"></resultMap>
	
	
	
	
	<select id="selectList" resultMap="resultMapObj">
		select
			a.*
		    ,(select count(ccg_seq) from cc aa where aa.ccg_seq = a.ccgSeq ) as countCCG
		from ccg a
		where 1=1 
		and a.ccg_groupname like concat('%', #{shValue},'%')
		
	</select>

</mapper>	