<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kofu.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.kofu.infra.modules.codegroup.CodeGroup"></resultMap>
		<sql id="selectListUpperForMysql">
			select aa.* from (
		</sql>
	
	
		<sql id="selectListLowerForMysql">	
			) aa
			limit #{rowNumToShow} offset #{startRnumForMysql}
		</sql>
	
		<sql id ="selectCommon">
			FROM ccg a
			WHERE 1=1
			<if test="startDate != null and !startDate.equals('') and endDate != null and !endDate.equals('')"> AND a.insertdate Between #{startDate} AND #{endDate}</if>
			<if test="shDelNy != null and !shDelNy.equals('')">AND delNy = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND ccgSeq = #{shValue}</when>
				<when test="shOption == 2">AND ccg_groupname LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND ccg_groupnameEng LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
		</sql>
	<select id="selectList" resultMap="resultMapObj">
		<include refid="selectListUpperForMysql" />
			SELECT
				a.ccgSeq
				, a.ccg_groupname
				, a.ccg_groupnameEng
				, a.ccg_nomber
				, a.UseNY
				, a.delNy
				, a.insertdate
				, a.moddate
				,(select count(aa.ccg_seq) from cc aa where aa.ccg_seq = a.ccgSeq ) as countCCG
		<include refid="selectCommon" />
			ORDER BY a.ccgSeq DESC
		<include refid="selectListLowerForMysql" />
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>  
	<insert id="insert">
		INSERT INTO ccg(
		    ccg_groupname
		    ,delNy
		    ,UseNY
		    ,ccg_groupnameEng
		    ,insertdate
		)
		VALUES(
			#{ccg_groupname}
			,#{delNy}
			,#{UseNY}
			,#{ccg_groupnameEng}
			,now()
		)
		<selectKey resultType="String" keyProperty="ccgSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			a.*
		from ccg a
		where 1=1
			AND ccgSeq = #{ccgSeq}
	</select>
	
	<!-- 업데이트 및 삭제 9.13-->
	<update id="update">
		UPDATE ccg
		SET
			ccg_groupname = #{ccg_groupname}
			,ccg_groupnameEng = #{ccg_groupnameEng}
			,UseNy = #{UseNY}
			,delNy = #{delNy}
		WHERE
			ccgSeq = #{ccgSeq}	
	</update>
	
	<delete id="delete">
		DELETE FROM ccg WHERE ccgSeq = #{ccgSeq}
	</delete>
	
	<update id="uelete">
		UPDATE ccg
		SET
			delNy = 1
		WHERE ccgSeq = #{ccgSeq}
	</update>
	
	
	<select id="oracleSelect" resultMap="resultMapObj">
		SELECT
			JOB_ID
			,JOB_TITLE
		FROM JOBS
	</select>
	
</mapper>	













