<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kofu.infra.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.kofu.infra.modules.code.Code"></resultMap>
	
	<sql id="selectListUpperForMysql">
		select aa.* from (
		</sql>
	
	
		<sql id="selectListLowerForMysql">	
			) aa
			limit #{rowNumToShow} offset #{startRnumForMysql}
		</sql>
	

	
	
	<select id="selectList" resultMap="resultMapObj">		
		<include refid = "selectListUpperForMysql"/>
		select
			a.*
	    	,b.*
		from cc a 
		join ccg b on b.ccgSeq = a.ccg_Seq
		
		<if test="startDate != null and !startDate.equals('') and endDate != null and !endDate.equals('')"> AND a.cc_InsertDate Between #{startDate} AND #{endDate}</if>
		<if test="shDelNy != null and !shDelNy.equals('')">AND cc_useNy = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND ccSeq = #{shValue}</when>
				<when test="shOption == 2">AND cc_name LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND cc_nameEng LIKE CONCAT('%',#{shValue},'%')</when>
				<otherwise></otherwise>
			</choose>
			ORDER BY ccSeq DESC
			<include refid="selectListLowerForMysql" />
	</select>

	<select id="ccgselectList" resultMap="resultMapObj">
		select
			a.ccgSeq
			,a.ccg_groupname
		from ccg a
		join cc b
		WHERE 1=1
			AND a.delNy = 0
			AND a.useNY = 1
		GROUP BY ccg_groupname
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		FROM cc a
		WHERE 1=1
		
		<if test="startDate != null and !startDate.equals('') and endDate != null and !endDate.equals('')"> AND a.cc_InsertDate Between #{startDate} AND #{endDate}</if>
		<choose>
			<when test="shOption == 1">AND ccSeq = #{shValue}</when>
			<when test="shOption == 2">AND cc_name LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND cc_nameEng LIKE CONCAT('%',#{shValue},'%')</when>
			<otherwise></otherwise>
		</choose>
	</select>  
	
	
	<insert id="insert">
		INSERT INTO cc(
			cc_name
			,cc_nameEng
			,cc_useNy
			,cc_delNy
			,ccg_seq
		)
		VALUES(
			#{cc_name}
			,#{cc_nameEng}
			,#{cc_useNy}
			,#{cc_delNy}
			,#{ccg_seq}
		)
		<selectKey resultType="String" keyProperty="ccSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			ccSeq
			,a.cc_name
			,a.cc_nameEng
			,a.cc_number
			,a.ccg_seq
			,a.cc_useNy
			,a.cc_delNy
			,a.cc_InsertDate
		FROM cc a
		WHERE 1=1
			AND  ccSeq = #{ccSeq} 
			<if test="startDate != null and !startDate.equals('') and endDate != null and !endDate.equals('')"> AND a.cc_InsertDate Between #{startDate} AND #{endDate}</if>
			<choose>
				<when test="shOption == 1">AND ccSeq = #{shValue}</when>
				<when test="shOption == 2">AND cc_name LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND cc_nameEng LIKE CONCAT('%',#{shValue},'%')</when>
				<otherwise></otherwise>
			</choose>
	</select>
	
	<update id="update">
		UPDATE cc
		SET
			cc_name
			,cc_nameEng
			,cc_number
			,cc_useNy
			,cc_delNy
		WHERE
			ccSeq = #{ccSeq}	
	</update>
	
	<delete id="delete">
		DELETE FROM cc WHERE ccSeq = #{ccSeq}
	</delete>
	
	<update id="uelete">
		UPDATE cc
		SET
			cc_delNy = 1
		WHERE ccSeq = #{ccSeq}	
	</update>
	
	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			ccSeq
			, cc_name
			, ccg_seq
		FROM
			cc
		WHERE 1=1
			AND cc_delNy = 0
		    AND cc_useNy = 1
    </select>
	

</mapper>	