<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kofu.infra.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.kofu.infra.modules.code.Code"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">		
		select
			b.*
	    	,a.*
		from ccg a 
		join cc b on b.ccg_seq = a.ccgSeq
		
		<if test="shDelNy != null and !shDelNy.equals('')">AND UseNY = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND ccg_seq = #{shValue}</when>
				<when test="shOption == 2">AND cc_Name LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND ifcgNameEng LIKE CONCAT('%',#{shValue},'%')</when>
				<otherwise></otherwise>
			</choose>
	</select>

	<select id="ccgselectList" resultMap="resultMapObj">
		select
			a.ccg_groupname
			,a.*
			,b.*
		from ccg a
		join cc b on b.ccg_Seq = a.ccgSeq
		where 1=1
		and a.UseNY = 1
		group by ccg_groupname
	</select>
	
	
	<insert id="insert">
		INSERT INTO cc(
			cc_name
			,cc_nameEng
			,cc_useNy
			,cc_delNy
			,ccg_seq
		)
		VALUES(
			#{cc_name}
			,#{cc_nameEng}
			,#{cc_useNy}
			,#{cc_delNy}
			,#{ccg_seq}
		)
		<selectKey resultType="String" keyProperty="ccSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	
	

</mapper>	