<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kofu.infra.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.kofu.infra.modules.code.Code"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">		
		select
			b.*
	    	,a.*
		from ccg a 
		join cc b on b.ccg_seq = a.ccgSeq
		
		<if test="shDelNy != null and !shDelNy.equals('')">AND UseNY = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND ccgSeq = #{shValue}</when>
				<when test="shOption == 2">AND cc_name LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND cc_nameEng LIKE CONCAT('%',#{shValue},'%')</when>
				<otherwise></otherwise>
			</choose>
	</select>

	<select id="ccgselectList" resultMap="resultMapObj">
		select
			a.ccSeq
			,a.cc_name
			,a.cc_nameEng
			,a.cc_number
			,a.ccg_seq
			,a.cc_delNy
			,a.cc_useNy
			,b.ccgSeq
			,b.ccg_groupname
		from cc a
		join ccg b on b.ccgSeq = a.ccg_Seq
		WHERE 1=1
			AND b.ccgSeq = b.UseNy
			group by ccg_groupname
	</select>
	
	
	<insert id="insert">
		INSERT INTO cc(
			cc_name
			,cc_nameEng
			,cc_useNy
			,cc_delNy
			,ccg_seq
		)
		VALUES(
			#{cc_name}
			,#{cc_nameEng}
			,#{cc_useNy}
			,#{cc_delNy}
			,#{ccg_seq}
		)
		<selectKey resultType="String" keyProperty="ccSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			ccSeq
			,cc_name
			,cc_nameEng
			,cc_number
			,ccg_seq
			,cc_useNy
			,cc_delNy
		FROM cc
		WHERE 1=1
			AND  ccSeq = #{ccSeq}
	</select>
	
	<update id="update">
		UPDATE cc
		SET
			cc_name
			,cc_nameEng
			,cc_number
			,cc_useNy
			,cc_delNy
		WHERE
			ccSeq = #{ccSeq}	
	</update>
	
	

</mapper>	