<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.kofu.infra.modules.aircodegroup.AirCodeGroupMapper">

	<resultMap id="resultMapObj" type="com.kofu.infra.modules.aircodegroup.AirCodeGroup"></resultMap>
	
	<!-- 공통 검색 사항 -->
	<sql id="selectCommon">
		FROM ccg a
		WHERE 1=1
		<if test="startDate != null and !startDate.equals('') and endDate != null and !endDate.equals('')">
			AND a.insertdate BETWEEN #{startDate} AND #{endDate}
		</if>
		<choose>
			<when test="shOption == 1">AND ccgSeq = #{shValue}</when>
			<when test="shOption == 2">AND ccgGroupNameKor LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 2">AND ccgGroupNameEng LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
	</sql>
	
	<!-- pagination -->
	<sql id="selectListUpperForMysql">
		select aa.* from (
	</sql>
	<sql id="selectListLowerForMysql">	
		) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</sql>
	
	<!-- list화면 -->
	<select id="selectList" resultMap="resultMapObj">
		<include refid="selectListUpperForMysql" />
			SELECT
				a.ccgSeq
				,a.ccgGroupNameEng
				,a.ccgGroupNameKor
				,a.ccgDelNy
				,a.ccgUseNy
				,a.ccgInsertDate
				,a.ccgModDate
				,(SELECT COUNT(aa.ccg_seq) FROM cc aa WHERE aa.ccg_seq = a.ccgSeq) as countCCG
			<include refid="selectCommon"/>
				ORDER By a.ccgSeq DESC
		<include refid="selectListLowerForMysql" />		
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>  	
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			 a.ccgSeq
			,a.ccgGroupNameEng
			,a.ccgGroupNameKor
			,a.ccgDelNy
			,a.ccgUseNy
			,a.ccgInsertDate
			,a.ccgModDate
		FROM ccg a
		WHERE 1=1
		AND ccgSeq = #{ccgSeq}
	</select>
	

</mapper>	
	