<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.kofu.infra.modules.aircodegroup.AirCodeGroupMapper">

	<resultMap id="resultMapObj" type="com.kofu.infra.modules.aircodegroup.AirCodeGroup"></resultMap>
	
	<!-- 공통 검색 사항s -->
	<sql id="selectCommon">
		FROM ccg a
		WHERE 1=1
		<if test="startDate != null and !startDate.equals('') and endDate != null and !endDate.equals('')">
			AND a.insertdate BETWEEN #{startDate} AND #{endDate}
		</if>
		<if test="shDelNy != null and !shDelNy.equals('')">AND ccgDelNy = #{shDelNy}</if>
		<if test="shUseNy != null and !shUseNy.equals('')">AND ccgUseNy = #{shUseNy}</if>
		<choose>
			<when test="shOption == 1">AND ccgSeq = #{shValue}</when>
			<when test="shOption == 2">AND ccgGroupNameKor LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND ccgGroupNameEng LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
	</sql><!--공통 검색 사항e -->
	
	<insert id="insert">
		INSERT INTO ccg(
		    ccgGroupNameEng
		    ,ccgGroupNameKor
		    ,ccgDelNy
		    ,ccgUseNy
		    ,ccgInsertDate
		)
		VALUES(
			#{ccgGroupNameEng}
		    ,#{ccgGroupNameKor}
		    ,#{ccgDelNy}
		    ,#{ccgUseNy}
		    ,now()
			
		)
		<selectKey resultType="String" keyProperty="ccgSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<!-- pagination -->
	<sql id="selectListUpperForMysql">
		select aa.* from (
	</sql>
	<sql id="selectListLowerForMysql">	
		) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</sql>
	
	<!-- list 시작 -->
	<select id="selectList" resultMap="resultMapObj">
		<include refid="selectListUpperForMysql" />
		SELECT
			a.ccgSeq
			,a.ccgGroupNameEng
			,a.ccgGroupNameKor
			,a.ccgDelNy
			,a.ccgUseNy
			,a.ccgInsertDate
			,a.ccgModDate
			,(SELECT COUNT(aa.ccg_seq) FROM cc aa WHERE aa.ccg_seq = a.ccgSeq) as countCCG
		<include refid="selectCommon"/>
			ORDER By a.ccgSeq DESC
		<include refid="selectListLowerForMysql" />
	</select><!--list 종료  -->
	
	
	<!-- 페이지네이션 페이지 카운트 시작 -->
	<select id="selectOneCounting" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select><!-- 페이지네이션 페이지 카운트 종료  -->  
	
	
	<!-- 셀렉트 원 시작 -->
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			 a.ccgSeq
			,a.ccgGroupNameEng
			,a.ccgGroupNameKor
			,a.ccgDelNy
			,a.ccgUseNy
			,a.ccgInsertDate
			,a.ccgModDate
		FROM ccg a
		WHERE 1=1
		AND ccgSeq = #{ccgSeq}
	</select><!-- 셀렉트 원 종료 -->
	
	<!-- 업데이트 및 삭제 9.13-->
		<!--폼 수정  -->
	<update id="update">
		UPDATE ccg
		SET
			ccgGroupNameKor = #{ccgGroupNameKor}
			,ccgGroupNameEng = #{ccgGroupNameEng}
			,ccgUseNy = #{ccgUseNy}
			,ccgDelNy = #{ccgDelNy}
			,ccgModDate = now()
		WHERE
			ccgSeq = #{ccgSeq}	
	</update>
		<!-- 폼 삭제 -->
	<delete id="delete">
		DELETE FROM ccg WHERE ccgSeq = #{ccgSeq}
	</delete>
		<!--폼 DelNy = 1로  -->
	<update id="uelete">
		UPDATE ccg
		SET
			ccgDelNy = 1
		WHERE ccgSeq = #{ccgSeq}
	</update>
	

</mapper>	
	