<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kofu.infra.modules.home.HomeMapper">

    <resultMap id="resultMapObj" type="com.kofu.infra.modules.home.Home"></resultMap>
		<!-- pagination -->
	<sql id="selectListUpperForMysql">
		select aa.* from (
	</sql>
	<sql id="selectListLowerForMysql">	
		) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</sql>

	
	<!-- 질문리스트 -->
	<select id="selectList" resultMap="resultMapObj">
		<include refid="selectListUpperForMysql" />
	    SELECT
	    	a.questionSeq
			,a.content
	    	,a.writetime
	    	,a.userID
	    	,a.language_select    
    	FROM question a
    	WHERE 1=1
    	<choose>
    		<when test="languageOption == 9"> AND a.language_select = 9 </when>
			<when test="languageOption == 10">AND a.language_select = 10 </when>
			<when test="languageOption == 11"> AND a.language_select = 11</when>
			<when test="languageOption == 12"> AND a.language_select = 12</when>
    	</choose>
	    <choose>
			<when test="shOption == 9"> AND content LIKE CONCAT('%',#{shValue},'%') AND a.language_select = 9 </when>
			<when test="shOption == 10">AND a.language_select = 10 AND content LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 11"> AND content LIKE CONCAT('%',#{shValue},'%') AND a.language_select = 11</when>
			<when test="shOption == 12"> AND content LIKE CONCAT('%',#{shValue},'%') AND a.language_select = 12</when>
		</choose>
			ORDER BY a.writetime DESC
		<include refid="selectListLowerForMysql" />
	</select>
	
	<!-- question view  -->
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.questionSeq
			,a.content
			,a.writetime
			,a.userID
			,a.language_select
		FROM  question a
		WHERE 1=1
			AND a.questionSeq = #{questionSeq}
	</select>
	
	<select id="selectAns" resultMap="resultMapObj">
		SELECT
			a.ansSeq
			,a.ansWriteTime
			,a.ansUserId
			,a.ansContent
			,a.ansQuestionSeq
		FROM answer a
		LEFT JOIN question b ON b.questionSeq = a.ansQuestionSeq
		WHERE 1=1 
			and a.ansQuestionSeq= #{questionSeq}
	</select>
	
	<!-- 페이지 네이션 카운터 -->
		<select id="selectOenCount" resultType="Integer">
			SELECT COUNT(*)
			FROM question a
	    	WHERE 1=1
   	    	<choose>
	    		<when test="languageOption == 9"> AND a.language_select = 9 </when>
				<when test="languageOption == 10">AND a.language_select = 10 </when>
				<when test="languageOption == 11"> AND a.language_select = 11</when>
				<when test="languageOption == 12"> AND a.language_select = 12</when>
    		</choose>
		    <choose>
				<when test="shOption == 9"> AND content LIKE CONCAT('%',#{shValue},'%') AND a.language_select = 9 </when>
				<when test="shOption == 10">AND a.language_select = 10 AND content LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 11"> AND content LIKE CONCAT('%',#{shValue},'%') AND a.language_select = 11</when>
				<when test="shOption == 12"> AND content LIKE CONCAT('%',#{shValue},'%') AND a.language_select = 12</when>
			</choose>
		</select>
		
	<!-- 질문 등록  -->
	<insert id="insert">
		INSERT INTO question(
			content
			,userID
			,questionDelNy
			,writetime
			,language_select
		)
		VALUES(
			#{content}
			,#{userID}
			,#{questionDelNy}
			,now()
			,#{language_select}
		)
		<selectKey resultType="String" keyProperty="questionSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<!-- 질문 답변  -->
	<insert id="ansInsert">
		INSERT INTO answer(
			ansContent
			,ansUserId
			,ansWriteTime
			,ansQuestionSeq
		)
		VALUES(
			#{ansContent}
			,#{ansUserId}
			,now()
			,${questionSeq}
		)
		<selectKey resultType="String" keyProperty="ansSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
</mapper>
