<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kofu.infra.modules.home.HomeMapper">

    <resultMap id="resultMapObj" type="com.kofu.infra.modules.home.Home"></resultMap>
		<!-- pagination -->
	<sql id="selectListUpperForMysql">
		select aa.* from (
	</sql>
	<sql id="selectListLowerForMysql">	
		) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</sql>

	
	<!-- 질문리스트 -->
	<select id="selectList" resultMap="resultMapObj">
		<include refid="selectListUpperForMysql" />
	    SELECT
	    	a.questionSeq
			,a.content
	    	,a.writetime
	    	,a.language_select
	    	,b.user_level
	    	,b.user_id
	    	<!-- 이미지 uuid -->
    	FROM question a
    	LEFT JOIN airLanguage_member b ON b.memberSeq = a.userID
    	WHERE 1=1
    	<choose>
    		<when test="languageOption == 9"> AND a.language_select = 9 </when>
			<when test="languageOption == 10">AND a.language_select = 10 </when>
			<when test="languageOption == 11"> AND a.language_select = 11</when>
			<when test="languageOption == 12"> AND a.language_select = 12</when>
    	</choose>
	    <choose>
			<when test="shOption == 9"> AND content LIKE CONCAT('%',#{shValue},'%') AND a.language_select = 9 </when>
			<when test="shOption == 10">AND a.language_select = 10 AND content LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 11"> AND content LIKE CONCAT('%',#{shValue},'%') AND a.language_select = 11</when>
			<when test="shOption == 12"> AND content LIKE CONCAT('%',#{shValue},'%') AND a.language_select = 12</when>
		</choose>
		<choose>
			<when test="navShOption == 9"> AND content LIKE CONCAT('%',#{navShValue},'%') AND a.language_select = 9 </when>
			<when test="navShOption == 10">AND a.language_select = 10 AND content LIKE CONCAT('%',#{navShValue},'%')</when>
			<when test="navShOption == 11"> AND content LIKE CONCAT('%',#{navShValue},'%') AND a.language_select = 11</when>
			<when test="navShOption == 12"> AND content LIKE CONCAT('%',#{navShValue},'%') AND a.language_select = 12</when>
		</choose>
			ORDER BY a.writetime DESC
		<include refid="selectListLowerForMysql" />
	</select>
	
	<!-- question view  -->
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.questionSeq
			,a.content
			,a.writetime
			,a.language_select
			,b.user_id
			,b.user_level
		FROM  question a
		LEFT JOIN airLanguage_member b ON b.memberSeq = a.userID
		WHERE 1=1
			AND a.questionSeq = #{questionSeq}
	</select>
	
	<select id="selectAns" resultMap="resultMapObj">
		SELECT
			a.ansSeq
			,a.ansWriteTime
			,a.ansUserId
			,a.ansContent
			,a.ansQuestionSeq
			,a.ansSelect
			,c.user_id
			,d.likeSeq
			,d.likeUseNy
		FROM answer a
		LEFT JOIN question b ON b.questionSeq = a.ansQuestionSeq
		LEFT JOIN airLanguage_member c ON a.ansUserId = c.memberSeq
		LEFT JOIN answer_like d ON a.ansSeq = d.likeAnswerSeq
		WHERE 1=1 
			and a.ansQuestionSeq= #{questionSeq}
	</select>
	
	<!-- 페이지 네이션 카운터 -->
		<select id="selectOenCount" resultType="Integer">
			SELECT COUNT(*)
			FROM question a
	    	WHERE 1=1
   	    	<choose>
	    		<when test="languageOption == 9"> AND a.language_select = 9 </when>
				<when test="languageOption == 10">AND a.language_select = 10 </when>
				<when test="languageOption == 11"> AND a.language_select = 11</when>
				<when test="languageOption == 12"> AND a.language_select = 12</when>
    		</choose>
		    <choose>
				<when test="shOption == 9"> AND content LIKE CONCAT('%',#{shValue},'%') AND a.language_select = 9 </when>
				<when test="shOption == 10">AND a.language_select = 10 AND content LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 11"> AND content LIKE CONCAT('%',#{shValue},'%') AND a.language_select = 11</when>
				<when test="shOption == 12"> AND content LIKE CONCAT('%',#{shValue},'%') AND a.language_select = 12</when>
			</choose>
		</select>
		
	<!-- 질문 등록  -->
	<insert id="insert">
		INSERT INTO question(
			content
			,userID
			,writetime
			,language_select
		)
		VALUES(
			#{content}
			,#{userID}
			,now()
			,#{language_select}
		)
		<selectKey resultType="String" keyProperty="questionSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<!-- 질문 답변  -->
	<insert id="ansInsert">
		INSERT INTO answer(
			ansContent
			,ansUserId
			,ansWriteTime
			,ansQuestionSeq
		)
		VALUES(
			#{ansContent}
			,#{ansUserId}
			,now()
			,${questionSeq}
		)
		<selectKey resultType="String" keyProperty="ansSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
		<!-- 북마크 -->
	<insert id="bookmarkInst">
		INSERT INTO bookmark(
			bookmark_useNy
			,question_questionSeq
			,bookmark_UserId
		)
		VALUES(
			1
			,#{question_questionSeq}
			,#{bookmark_UserId}
		)
		<selectKey resultType="String" keyProperty="bookmarkSeq" order="AFTER">
				SELECT last_insert_id()
		</selectKey> 
	</insert>
	<!-- 북마크 리스트 -->
	<select id="bookmarkList">
		
	</select>
	
	
	<!-- 좋아요버튼  -->
	<insert id ="likeInsert">
		INSERT INTO answer_like(
			likeUseNy
			,likeAnswerSeq
			,likeTime
			,likeUserId
		)
		VALUE(
			1
			,#{likeAnswerSeq}
			,now()
			,#{likeUserId}
			)
			<selectKey resultType="String" keyProperty="likeSeq" order="AFTER">
				SELECT last_insert_id()
			</selectKey> 
	</insert>
		
	<!-- 좋아요 제거  -->
	<delete id ="likedelete">
		DELETE FROM answer_like WHERE likeSeq = #{likeSeq}
	</delete>
	
	<!-- 좋아요 ajax-count -->
		<select id="likeCheck" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			answer_like
		WHERE 1=1
			and likeAnswerSeq = #{likeAnswerSeq}
			and likeUserId = #{likeUserId}
		</select>
		
	<!-- 질문수정 -->
	<update id="questionUdt">
		UPDATE question
		SET
			content = #{content}
		WHERE
			questionSeq = #{questionSeq}	
	</update>
	<!-- 답변 채택  -->
	<update id="answerSelect">
		UPDATE answer
		SET
			ansSelect = 1
		WHERE
			ansSeq = #{ansSeq}
	</update>
	
</mapper>
