<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kofu.infra.modules.home.HomeMapper">

    <resultMap id="resultMapObj" type="com.kofu.infra.modules.home.Home"></resultMap>
	

	
	
	<select id="selectList" resultMap="resultMapObj">
	<!-- 수정 전 쿼리 -->
	<!-- 	SELECT
			a.content
	    	,a.writetime
	    	,b.user_id
	    	,c.cc_name    
    	FROM question a
	    	join airLanguage_member b on a.userId = b.memberSeq
	    	join cc c on c.ccSeq = a.language_select
	    ORDER BY a.writetime DESC -->
	    SELECT
			a.content
	    	,a.writetime
	    	,a.userID
	    	,a.language_select    
    	FROM question a
	    ORDER BY a.writetime DESC
	    
	    <choose>
			<when test="shOption == 1">AND content LIKE CONCAT('%',#{shValue},'%'}</when>
			<when test="shOption == 2">AND content LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND content LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>    
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.content
			,a.user_id
			,a.
			
		FORM  
		WHERE 1=1
			AND questionSeq = #{questionSeq}
		
	</select>
	
	
	<!-- 질문 등록  -->
	<insert id="insert">
		INSERT INTO question(
			content
			,userID
			,questionDelNy
			,writetime
			,language_select
		)
		VALUES(
			#{content}
			,#{userID}
			,#{questionDelNy}
			,now()
			,#{language_select}
		)
		<selectKey resultType="String" keyProperty="questionSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<!-- 빠른검색 -->
	<select id="homeSearch" resultMap="resultMapObj">
		SELECT
			a.content
	    	,a.writetime
	    	,a.userID
	    	,a.language_select
	    FROM question
	    WHERE 1=1
     	<choose>
			<when test="shOption == 1">AND content LIKE CONCAT('%',#{shValue},'%'}</when>
			<when test="shOption == 2">AND content LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND content LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>  
	</select>	
	
</mapper>
