@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'SUIT-Medium';
    box-sizing: border-box;
    margin: 0;
}
ul{
    padding-left: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:black;
}
.margin{
	margin:12px 0px;
}
.loginWrap{
    background: #fff;
    display: flex ;
    height: 100vh;	
}
.border{
	border:1px solid #e0e0e0;
	padding:34px;
	border-radius:5px;
	
	
}
.login_img{
    background-image: url('https://images.unsplash.com/photo-1564500617448-e541b1df7cee?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-size : cover;  
    flex: 1;
    width: 100%;
    color: white;
}

/* 로그인 영역 */

.wrap{
    width: 50%;
    height: 100vh;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
	font-size:38px;
	font-weight: bold;
	margin:24px 4px;
}

.input_box{
    width: 60%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self:center;
    text-align: center;
}
.input_box h1{
    font-weight: lighter;
}
.input_items{
	display: flex;
	flex-direction: column;
	align-items: center;
    width: 100%;
    border: none;
    
    
}
.input_item{
	width:300px;
    font-size: 15px;
    text-align: center;
    border-radius:15px;
    border:1px solid #e0e0e0;
    height:45px;
    margin:12px auto;
    outline: none;
    
}

.btn{
	width:150px;
	height:40px;
	border-radius : 5px; 
	border:none;
	background:#2E9AFE;
	cursor: pointer;
	font-size:16px;
	font-weight:bold;
	color:#fff;
}



.input_box input::placeholder{
    color:black;
    font-size: 15px;
}
.input_box input:focus{
    outline:none;
}


.loginItems{
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
    cursor: pointer;
    
}
.loginItem{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin:12px 7px;
    transition: all 0.3s ease-in-out;
}
.loginItem_img{
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.loginItem:hover{
	transform: translateY(-10px);
}






@media(max-width:768px){
    .wrap{
    	width:100%;
    }
}