@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
    *{
        margin: 0;
        font-family: 'SUIT-Medium';
    }
    li{
        list-style: none;
    }
    ul{
        padding-left: 0;
    }
    body {
        min-height: 100vh;
        }

/* 네비게이션s */
.navbar{
	background:#fff;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    flex-wrap: wrap;
    position:sticky;
    top:0;
    z-index:100;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.navbar .logo{
	margin-left: 15px;
}
.navbar .logo a{
	text-decoration: none;
	color: #000;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 25px;
	text-transform: uppercase;
}

.nav_search_box select{
	width: 100px;
	height: 33px;
	background: #fff;
	border: none;
	border-radius: 5px;
}
.nav_search_box input{
	border: none;
	height: 30px;
	background: black;
	color: #fff;
	border-bottom: 2px solid #fff;
	margin-left: 0;
	outline: none;
	margin-left: 15px;
}
.nav_search_box input::placeholder{
	color: #fff;
	text-align: center;

}

.nav_right_Wrap{
	display: flex;
    align-items: center;
}

.nav_right_Wrap li{
    text-align: center;
    margin:5px 15px 0px 15px;
    cursor: pointer;
}
.nav_right_Wrap li:hover{
    border-bottom: 2px solid;
}

.nav_right_Wrap a{
    color:#000;
    list-style: none;
    text-decoration: none;
	font-size: 0.9rem;
}
.navbar__toogleBtn{
    display: none;
}


/* 네비게이션 영역e */


/* 질문 리스트 s */
.questionArea{
	display: flex;
	width:100%;
	flex-direction: column;
	align-items: center;
	margin-bottom:30px;
}
.questionBox{
    min-width: 700px;
    max-width: 700px;
    min-height: 220px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    margin-bottom:15px;
}
.questionBox-header{
    height:50px;
    background:#eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 6px;
}
.header-info{
    display: flex;
    align-items: center;
}
.header-info li{
    margin-left: 8px;
    font-size: 0.9rem;
    font-weight: bold;
}
.info-img{
    overflow: hidden;
    width: 37px;
    height: 37px;
    background: #FFF;
    border-radius: 50%;
}
.info-img img{
	width: 100%;
	height: 100%;
}
.questionBox-body{
    margin:auto;
    height: 150px;
    font-size: 0.8rem;
    padding:12px 16px;
    cursor: pointer;
    position: relative;
    overflow:auto;
    z-index: 1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}


.questionCount{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    padding-right: 10px;
    height:60px;
}
.countBox{
    width: 45px;
    height: 45px;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
/* 질문 언어 */
.header-date{
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
}
.language-select{
	display: flex;
	align-items: center;
	font-weight: bold;
}
.test-item-kor{
    width: 25px;
    height: 25px;
    margin-left:10px;
    border-radius:50%;
    border:1px solid #616161;
    background-image: url(https://cdn-icons-png.flaticon.com/512/5111/5111586.png);
    background-size: cover;
}
.test-item-cha{
    width: 25px;
    height: 25px;
    margin-left:10px;
    border-radius:50%;
    background-image: url(https://cdn-icons-png.flaticon.com/512/323/323363.png);
    background-size: cover;
}
.test-item-usa{
    width: 25px;
    height: 25px;
    margin-left:10px;
    border-radius:50%;
    background-image: url(https://cdn-icons-png.flaticon.com/512/323/323310.png);
    background-size: cover;
}
.test-item-jpa{
    width: 25px;
    height: 25px;
    margin-left:10px;
    border:1px solid #616161;
    border-radius:50%;
    background-image: url(https://cdn-icons-png.flaticon.com/512/323/323308.png);
    background-size: cover;
}

.bubble
{
position: relative;
width: 55px;
height: 30px;
padding: 2px;
background: #FFFFFF;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: #e0e0e0 solid 2px;
display: flex;
justify-content: center;
align-items: center;
z-index: 0;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 4px 7px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
bottom: -4px;
left: 7px;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 5px 8px 0;
border-color: #e0e0e0 transparent;
display: block;
width: 0;
z-index: 0;
bottom: -7px;
left: 6px;
}
/* 질문 리스트 e */




.container{
    width: 90%;
    margin: auto;
    padding-top: 100px;
}

.language_catagory_wrap{
    width: 50%;
    height: 200px;
    margin: 150px auto 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.language_catagory_wrap p{
    font-size: 35px;
    font-weight: lighter;
    margin-bottom: 15px;
}
.catagory_list{
    display: flex;
}
.list_item{
    width: 90px;
    height: 75px;
    overflow: hidden;
    border: 3px solid;
    margin-left: 35px;
}
.list_item button{
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.list_item button:hover{
    border: 5px solid ;
}
.list_item img{
    width: 100%;
    height: 100%;
}

/* pagination */
.pagination_wrap{
    margin: auto;
    text-align: center;
}
.pagination {
list-style: none;
display: inline-block;
padding: 0;
}
.pagination li {
    display: inline;
    text-align: center;
}
.pagination a {
    float: left;
    width:60px;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #fff;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
}
.pagination a.active {
    cursor: default;
}
.pagination a:active {
    outline: none;
}
.modal-2 li:first-child a {
/*     -moz-border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px 0 0 50px; */
    border-radius: 50px;
}
.modal-2 li:last-child a {
/*     -moz-border-radius: 0 50px 50px 0;
    -webkit-border-radius: 0;
    border-radius: 0 50px 50px 0; */
        border-radius: 50px;
}
.modal-2 a {
    border-color: #ddd;
    color: #999;
    background: #fff;
    border-radius: 50px;
    margin:5px;
    
}
.modal-2 a:hover {
    color: #263238;
    background-color: #eee;
}
.modal-2 a.active, .modal-2 a:active {
    border-color: #263238;
    background: #263238;
    color: #fff;
}






@media(max-width:768px){
	
.box_wrap{
	width: 100%;
}
.box_container{
width:90%;
}
.box_profile h1{
	font-size: 1.2rem;
}
.box_info{
	display:flex;
	flex-direction: column;
}
	/* pagination */
.pagination_wrap{
    margin: auto;
    text-align: center;
}
.pagination {
list-style: none;
display: inline-block;
padding: 0;
}
.pagination li {
    display: inline;
    text-align: center;
}
.pagination a {
    float: left;
    width:25px;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #fff;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
}
.pagination a.active {
    cursor: default;
}
.pagination a:active {
    outline: none;
}
.modal-2 li:first-child a {
/*     -moz-border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px 0 0 50px; */
    border-radius: 50px;
}
.modal-2 li:last-child a {
/*     -moz-border-radius: 0 50px 50px 0;
    -webkit-border-radius: 0;
    border-radius: 0 50px 50px 0; */
        border-radius: 50px;
}
.modal-2 a {
    border-color: #ddd;
    color: #999;
    background: #fff;
    border-radius: 50px;
    margin:5px;
    
}
.modal-2 a:hover {
    color: #263238;
    background-color: #eee;
}
.modal-2 a.active, .modal-2 a:active {
    border-color: #263238;
    background: #263238;
    color: #fff;
}

.questionBox{
	width:90%;
	min-width:400px;
	margin:12px;
}
.container{
	width:100%;
}
.language_catagory_wrap{
	width:100%;
	max-width:500px;
}
.list_item{
	width:50px;
	height:50px; 
}
body{
	width:100%;
}
        .navbar{
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 8px 12px;
        width:100%;
        position:relative;
    }
    .navbar__toogleBtn{
        display: block;
        position: absolute;
        top: 10px;
        right: 22px;
        font-size: 24px;
        color: #000;
        z-index: 120;
    }
   	.navbar .logo{
        margin-left: 0;
    }
    .nav_right_Wrap{
        display: none;
        margin-right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .nav_right_Wrap.active{
        display: flex;
    }
    .nav_right_Wrap li{
    	margin:5px;
    	width:100%;
    	padding:5px;
    	border-radius: 15px;
    }
    .nav_right_Wrap li:hover{
    color: #fff;
    background-color: #42a5f5;
}
    .searchbar{
    	width:90%;
    }
}


/* 유저정보 모달 s */
.open-modal{
	cursor:pointer;
	border-radius:5px;
	padding:2px;
}
.open-modal:hover{
	background:#000;
	color:#fff;
}
.userInfo-modal_background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}
.userInfo-modal_wrap{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.HeaderList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
}
.userInfo-modal-Box{
	width:100%;
    max-width: 600px;
    min-height: 500px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    animation: scale 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.02),22.3px 22.3px 17.9px rgba(0, 0, 0, 0.03),100px 100px 80px rgba(0, 0, 0, 0.05);
}
.close-modal {
    float: right;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    color: red;
}
@keyframes scale {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.prifileBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 6px;
    max-width: 600px;
    min-height: 500px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.profile-head{
    display: flex;
    flex-direction:column;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
}
.profile-head_img{
    width:150px;
    height:150px;
    border-radius: 50%;
    border: 3px solid;
}
.profile-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-body_item{
    width: 100%;
    margin-bottom: 12px;
    height: 40px;
    max-width: 400px;
    display: flex;
    background: #eeeeee;
    align-items: center;
    justify-content: space-around;
}
.profile-body_item span{
    color: red;
}
.profile-introduce{
    width: 100%;
    max-width: 400px;
    height: 100px;
    border: 1px solid #e0e0e0;
    margin: auto;
    padding: 12px 6px;
    font-size:0.8rem;
}
/* 유저정보 모달e */

/* 스크롤 */

.menuWrap{
	position: fixed;
	right:25px;
	bottom:25px;
	height:80px;
	display:flex;
	flex-direction: column;
	
}

.menuItem{
    width: 70px;
    height: 70px;
    font-size: 15px;
    color:#fff;
    background-color:#000;
    border:1px solid #e0e0e0;
    border-radius:5px;
    cursor: pointer;
}


.question-reg{
    width: 70px;
    height: 70px;
    bottom: 125px;
    font-size: 50px;
    color:#fff;
    background-color:#000;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: all 300ms ease-in;
    cursor: pointer;
    border: none;
}
.question-reg.visible{
    opacity: 1;
    pointer-events: auto;
}
