@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
	    font-family: 'SUIT-Medium';
         margin: 0;
         box-sizing: border-box;
}

a{
    text-decoration: none;
    color:var(--text-color);   
}
li{
    list-style: none;
}
ul{
    padding-left: 0;
}

/* 네비게이션s */
.navbar{
	background:#fff;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #e0e0e0;
}
.navbar .logo{
	margin-left: 15px;
}
.navbar .logo a{
	text-decoration: none;
	color: #000;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 25px;
	text-transform: uppercase;
}

.nav_search_box select{
	width: 100px;
	height: 33px;
	background: #fff;
	border: none;
	border-radius: 5px;
}
.nav_search_box input{
	border: none;
	height: 30px;
	background: black;
	color: #fff;
	border-bottom: 2px solid #fff;
	margin-left: 0;
	outline: none;
	margin-left: 15px;
}
.nav_search_box input::placeholder{
	color: #fff;
	text-align: center;

}

.nav_right_Wrap{
	display: flex;
    align-items: center;
}

.nav_right_Wrap li{
    text-align: center;
    margin:5px 15px 0px 15px;
    cursor: pointer;
}
.nav_right_Wrap li:hover{
    border-bottom: 2px solid;
}

.nav_right_Wrap a{
    color:#000;
    list-style: none;
    text-decoration: none;
	font-size: 0.9rem;
}
.navbar__toogleBtn{
    display: none;
}


/* 네비게이션 영역e */



/* 배너 */
.backcol{
    height: 500px;
    background:#fff;
    background-image: url('');
	background-size : 100%;  
    width: 100%;
    margin-bottom: 150px;
    border-bottom:1px solid;
}
.title {
	display:flex;
	flex-direction:column;
	justify-content:center;
	text-align: center;
	height:450px;
    margin:150px auto 0px auto;
    width:100%
}
.imgbox{
	display:flex;
	justify-content: center;
}
.img{
	width:150px;
	height: 150px;
}

.title h1 {
	font-size: 2.5rem;
	font-weight: lighter;
	text-transform: uppercase;
	line-height: 0.85;
	margin-bottom: 28px;
	margin: 15px;
	padding: 0;
	color: #000;
}
.title h2 {
	color: #000;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
}
/* 빠른검색영역 */ 
.searchbar{
    width: 30%;
    height:45px;
    border: 1px solid #e0e0e0;
    border-radius: 55px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    margin: 20px auto 150px auto;
}
.search__option{
    display: flex;
    align-items: center;
    border-right:2px solid #e0e0e0;
}
.btn{
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin:10px ;
    
}
.btn label img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.btn input{
    display: none;
}
.btn input[type=radio]:checked + .listitem{
    display: flex;
    border-radius: 50%;
    border: 3px solid tomato;
    transition: all 0.5s;
}

.search__value{
    width: 50%;
    margin-left: 15px;
    display: flex;
    
}
.search__value input{
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
}
.search__value input::placeholder{
    font-size: 1rem;
    color: #9e9e9e;
    font-weight: bold;
    text-align: center;
}



.search_warp{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid gainsboro;
    width: 40%;
    margin: 150px auto 300px auto;
}
.search_haed h1{
    font-weight: lighter;
    font-size: 36px;
    margin-bottom: 0;
}
.search_haed h2{
    font-weight: 300;
    font-size: 20px;
    margin: 0px auto 30px auto;
}
.search_select{
	width:50%;
	height:50px;
	margin:auto;
	border:none;
	border-bottom:2px solid #000;
	text-align: center;
	font-size:1.4rem;
	outline: none;
}
option {
    color: #000;
    display: block;
    line-height: 3.9em;
}
.search_textbox input{
    width: 50%;
    margin:50px auto 50px auto;
    font-size: 1.4em;
    text-align: center;
    outline: none;
    border:none;
    border-bottom:2px solid;
}
.search_textbox input::placeholder{
	color:tomato;
}
.search_btn{
    width: 20%;
    margin: auto;
    cursor: pointer;
    
}
.button{
    height: 35px;
    border: 1px solid #eeeeee;
    font-size: 20px;
    font-weight: 300;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover{
	transition: all 1.0s ease;
    background: black;
    color: white;
}
/* 전등있는 소개글 */
.topline{
    margin: 150px 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topline_text h1{
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}
.topline_img{
    width:100px;
    position: relative;
    top:-26px;
    left: 490px;    
}

/* 소개영역 */
.middleBx{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-wrap: wrap;
    min-height:600px;
}
.box{
    position: relative;
    width:300px;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: 0.5s;
}
.box:hover{
    height: 400px;
}
.box .imgBx{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    
}
.box .imgBx img{
    max-width: 100%;
    opacity: 0.3;
    transition: 0.5s;
}
.box .imgBx img:hover{
    opacity:1;
}
.box:before{
    content: '';
    position: absolute;
    top:-2px;
    left: -2px;
    right: -2px;
    bottom:-2px;
    background: #fff;
    z-index: -1;
}
.box:after{
    content: '';
    position: absolute;
    top:-2px;
    left: -2px;
    right: -2px;
    bottom:-2px;
    z-index: -2;
    
}
.box .content{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom:10px;
    height: 90px;
    background: rgba(0, 0, 0, 4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}
.box:hover .content{
    opacity: 1;
    transition: 0.5s;
}
.box .content h2{
    font-size: 20px;
    color:#fff;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1px;
}

/* 최근질문 */
.queContainer{
	width:100%;
}
.newQue_wrap{
    width: 60%;
    height: 750px;
    border: 1px solid #e0e0e0;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.newQus_items{
    width: 40%;
    height: 150px;
    flex: 1 auto;
    padding: 15px;
    cursor: pointer;
    }
.items_box{
    width: 100%;
    border: 1px solid #e0e0e0;
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 10px;
    border-radius: 15px;
}   
.items_box p{
    overflow: auto;
}
.items_footer{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: tomato;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.queContainer h1, 
.queContainer h3{
    text-align: center;
}



/* 카드영역입니다. */
.card_head{
    display: flex;
    flex-direction: column;   
    justify-content: end;
    align-items:center;
    margin-top: 300px;
}
.card_head h1{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 0;
}
.card_head p{
    margin-top: 0;
    color: #ff7043;
}
.card_container {
    width: 1090px;
    min-width: 600px;
    height: 430px;
    margin: 150px auto 150px auto ;
}
.card_container .card {
    width: 330px;
    height: 430px;
    float: left;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    top: 0;
    text-align: center;
    transition: all 0.25s;
}
.card img{
    width:330px;
    height: 200px;
}
.card_container .card:nth-child(2) {
    margin: 0 50px;
}
.card_container .card:hover {
    top: -15px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.card_container .card h4 {
    font-weight: 600;
}
.card_container .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
.card_container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}


/* 회원가입s */
.home_signup_wrap{
    height: 300px;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home_signup_wrap p{
    font-size: 2.5rem;
}
.home_signup_wrap img{
    width: 200px;
    height: 200px;
}
.home_signup_wrap button{
    border-radius: 5px;
    background: #000;
    color: #fff;
    border: none;
    height: 35px;
    cursor: pointer;
}
.home_signup_wrap button:hover{
    background: #fff;
    color: #000;
    border: 1px solid;
}
.home_signup_wrap li:nth-child(2){
    width: 100%;
    background: #e0f7fa;
    margin: auto;

    text-align: center;
}/* 회원가입e */

@media (max-width:768px){
    .navbar{
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 8px 12px;
        width:100%;
        border-bottom: 2px solid;
    }
    .navbar__toogleBtn{
        display: block;
        position: absolute;
        top: 10px;
        right: 22px;
        font-size: 24px;
        color: #000;
    }
   	.navbar .logo{
        margin-left: 0;
    }
    .nav_right_Wrap{
        display: none;
        margin-right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .nav_right_Wrap.active{
        display: flex;
    }
    .nav_right_Wrap li{
    	margin:5px;
    	width:100%;
    	padding:5px;
    	border-radius: 15px;
    }
    .nav_right_Wrap li:hover{
    color: #fff;
    background-color: #42a5f5;
}
    .searchbar{
    	width:90%;
    }
}    
