@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'SUIT-Medium';
}

body {
font-family: 'SUIT-Medium';
min-height: 100vh;
}
html{
	margin:0;
}
.navbar{
	background:black;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    flex-wrap: wrap;
}
.navbar .logo{
	margin-left: 15px;
}
.navbar .logo a{
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 25px;
	text-transform: uppercase;
}

.nav_search_box select{
	width: 100px;
	height: 33px;
	background: #fff;
	border: none;
	border-radius: 5px;
}
.nav_search_box input{
	border: none;
	height: 30px;
	background: black;
	color: #fff;
	border-bottom: 2px solid #fff;
	margin-left: 0;
	outline: none;
	margin-left: 15px;
}
.nav_search_box input::placeholder{
	color: #fff;
	text-align: center;
}

.nav_right_Wrap{
	display: flex;
    align-items: center;
    margin: 15px;
}

.nav_right_Wrap li a{
    padding: 7px;
    text-align: center;
    border-radius: 15px;
}
.nav_right_Wrap li a:hover{
    color: black;
    background-color: #fff;
    border-radius: 5px;
}

.nav_right_Wrap a{
    color:white;
    list-style: none;
    text-decoration: none;
	font-size: 1.1rem;
}/* 네비게이션 영역e */


.container{
	padding-top: 150px;
    width: 50%;
    margin: auto;
}
.questionBox{
    width: 100%;
    height: 300px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;

}
.queBox_head{
    width: 100%;
    height: 50px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.queBox_head li{
    margin-left: 15px ;
}
.queBox_head .writer{
    width: 50px;
    height: 30px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.queBox_head .writer p{
    color: #000;
    font-weight: bold;
}
.queBox_head .qprofile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
}
.queBox_head .qprofile img{
    width: 100%;
    height: 100%;
}
.queBox_head .qlevel{
    width: 40px;
    height: 40px;
    border: 1px solid;
    overflow: hidden;
    border-radius: 5px;
    background: #fff;
}
.queBox_head .qlevel img{
    width: 100%;
    height: 100%;
}
.queBox_head .qid{
	color:tomato;
}
.head_left{
	display:flex;
	align-items: center;
}
.head_right{
	display:flex;
	justify-content: end;
}
.queBox_body{
    width: 100%;
    height: 200px;
    border-bottom: 1px solid #e0e0e0;
    overflow: auto;
}
.queBox_body p{
    padding: 15px;
}
.queBox_footer{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}
.queBox_footer button{
	width:50px;
	height:40px;
	background:#fff;
	border:none;
	border-radius: 15px;
	cursor: pointer;
	
}
.queBox_footer button i{
	font-size:20px;
}
.queBox_footer button:hover{
	color:tomato;
}



.commentContainer{
    width:100%;
    height:100%;
    text-align:right;
}
.box-container{
    width: 40%;
    height:70%;
    background:#eeeeee;
    border-radius: 5px;
    padding: 15px;
    margin:auto;
}
.commentBtn{
    width: 50px;
    height: 35px;
    margin:10px;
    border-radius: 5px;
    background:#fff;
    border: none;
    float: right;
}





/* 코멘트 박스 */
.comments-list .comment-box {
    width: 680px;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }

.comments-list .comment-box:before, .comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #212121;
    top: 8px;
    left: -10px;
}



.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0,0,0,0.05);
    left: -12px;
}
.comment-box{
    border-radius: 15px;
    margin-bottom: 30px;
}
.reply-list .comment-box {
    width: 610px;
    border-radius: 15px;
}
.comment-box .comment-head {
    background: #212121;
    padding: 10px 12px;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-size:12px;
}
.iconlist{
	display:flex;
}
.iconlist li{
	font-size:15px;
	margin:0;
}
.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #fafafa;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 15px;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    border:1px solid #212121;
    font-size: 15px;
    min-height:150px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 15px 15px;

}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #fff;}
.comment-box .comment-name.by-author:after {
    content: 'Writer';
    background: #fff;
    color: #0288d1;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* 답변창 */

.answerWrap{
	margin-top:90px;
	width:100%;
	height:100%;
	
}
.answerContent{
	width:100%;
	margin:auto;
	height:200px;
	padding:15px;
	background:#eeeeee;
}
.answerContent textarea{
    width: 100%;
    height: 100%;
    border: none;
    padding:10px;
    resize: none;
    margin:auto;
    border-radius: 5px;
    overflow: hidden;
    outline:none;
}
.answerContent textarea::placeholder{
	color:#ff8a65;
	font-weight: bold;
	font-size:1.0rem;
}
.answerfooter{
	display:flex;
	justify-content: space-between;
	background:#eeeeee;
	
}
.fileupload{
	display:flex;
}
.answerbtn{
	display:flex;
	justify-content: end;
}
.answerbtn button{
	width:100px;
	height:40px;
	background:#fff;
	border:none;
	border-radius: 10px;
	margin:15px;
	font-weight: bold;
	font-size:1.5rem;
	cursor: pointer;	
}
.answerbtn button:hover{
	color:#fff;
	background:black;
}


.answerbox{
            width: 100%;
           	border-radius:5px;
            border: 1px solid;
            margin-bottom:50px;
        }
.answer-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
    background: #000;
    color: #fff;
}
.profile-item{
    display: flex;
    margin-left: 1.5em;
}
.user-photo{ 
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border: 2px solid #333;
    border-radius: 50%;
    background: gold;
    background: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
}
.answer-body{
	padding:15px;
    min-height: 200px;
    max-height: 500px;
    overflow: auto;
}
.answer-body p{
    font-size: 1.2rem;
    color: #000;
}
.footer{
    height:50px;
    display: flex;
    justify-content: flex-end;
}
.footer button{
    margin: 5px;
    border: none;
    border-radius: 5px;

}





                  
