<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kofu.infra.modules.member.MemberMapper">
    <resultMap id="resultMapObj" type="com.kofu.infra.modules.member.Member"></resultMap>
	<select id="selectList" resultMap="resultMapObj">		
		select 
			a.*
		from airLanguage_member a
	</select>
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.user_id
			,a.user_pw
			,a.user_name
			,a.user_dob
			,a.user_conutry
			,a.user_level
			,a.user_gender
			,a.user_useNy
			,a.user_delNy
			,a.user_addr
			,a.user_email
		FROM airLanguage_member a
		WHERE 1=1
			 AND memberSeq = #{memberSeq}
	</select>
	<!-- 관리자용 insert -->
	<insert id="insert">
		INSERT INTO airLanguage_member(
			user_id
			,user_pw
			,user_name
			,user_dob
			,user_conutry
			,user_level
		)
		VALUES(
			#{user_id}
			,#{user_pw}
			,#{user_name}
			,#{user_dob}
			,#{user_conutry}
			,#{user_level}
		)
		<selectKey resultType="String" keyProperty="memberSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey> 
	</insert>
	<!-- 회원가입 -->
	<insert id="signup">
		INSERT INTO airLanguage_member(
			user_id
			,user_name
			,user_pw
			<!-- ,user_dob -->
			,user_email
			,user_favoriteLanguage
			,user_conutry
		)
		VALUES(
			#{user_id}
			,#{user_name}
			,#{user_pw}
<!-- 			,#{user_dob} -->
			,#{user_email}
			,#{user_favoriteLanguage}
			,#{user_conutry}
		)	
		<selectKey resultType="String" keyProperty="memberSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey> 
	</insert>
	
	<!--새로운 회원가입  -->
	<insert id="airSignUp">
		INSERT INTO airLanguage_member(
			user_id
			,user_name
			,user_pw
			,user_email
			,user_favoriteLanguage
			,lean_language
			,user_gender
			,user_signupDate
			,user_dob
		)
		VALUES(
			#{user_id}
			,#{user_name}
			,#{user_pw}
			,#{user_email}
			,#{user_favoriteLanguage}
			,#{lean_language}
			,#{user_gender}
			,now()
			,#{user_dob}
		)
		<selectKey resultType="String" keyProperty="memberSeq" order="AFTER">
				SELECT last_insert_id()
		</selectKey> 
	</insert>
	<!--프로필 이미지  -->
	<select id="profileImg" resultMap="resultMapObj">
		select
			a.memberSeq
			,a.user_id
			,a.user_name
			,a.user_level
			,a.lean_language
			,a.user_gender
			,a.user_favoriteLanguage
			,b.*
		FROM
			airLanguage_member a
		LEFT JOIN airLanguage_memberUploaded b ON  b.pseq = a.memberSeq 
		WHERE a.memberSeq = #{memberSeq}
		
			
				
	</select>
	
	<!-- 카카오 로그인 체크 -->
	<select id="snsLoginCheck" resultMap="resultMapObj">
		SELECT
			a.memberSeq
			,a.user_name
			,a.user_email
			,a.user_id
		FROM
			airLanguage_member a
		WHERE 1=1
			AND a.user_id = #{snsId} AND a.user_name = #{user_name}
	</select>

	<!-- 카카오 계정 insert -->
	<insert id="kakaoInst">
		INSERT INTO airLanguage_member(
			user_id
			,user_name
			,user_email
		)
		VALUE(
			#{snsId}
			,#{user_name}
			,#{user_email}
		)
		<selectKey resultType="String" keyProperty="memberSeq" order="AFTER">
				SELECT last_insert_id()
		</selectKey> 
	</insert>




	<!-- 중복체크 -->
	<select id="selectOneIdCheck" resultType="Integer">
		select count(*) 
		from airLanguage_member 
		where 1=1
			and user_id = #{user_id}
	</select>
	
	
	
	
	<!-- 9월 27일 로그인  -->
	<select id="selectOneId" resultMap="resultMapObj">
		SELECT
			a.memberSeq
			,a.user_id
		FROM
			airLanguage_member a
		WHERE 1=1
			AND a.user_id = #{user_id}
	</select>
	
	<select id="selectOneLogin" resultMap="resultMapObj">
		SELECT
			a.user_id
			,a.memberSeq
			,a.user_name
		FROM
			airLanguage_member a
		WHERE 1=1
			AND a.user_id = #{user_id}
			<if test="user_pw != null and !user_pw.equals('')">AND a.user_pw = #{user_pw}</if>
	</select>
	
	<!--10월20일 마이페이지  -->
	<select id="myPageSelect" resultMap="resultMapObj">
		SELECT
			a.memberSeq
			,a.user_id
			,a.user_name
			,a.user_level
			,a.lean_language
			,a.user_gender
			,a.user_favoriteLanguage
			,b.*
		FROM
			airLanguage_member a 
		LEFT JOIN airLanguage_memberUploaded b ON a.memberSeq = b.pseq
		WHERE 1=1
			AND a.memberSeq = #{memberSeq}
	</select>
	
	<!-- 마이페이지 질문 리스트 -->
	<select id="mypageQueSelect" resultMap="resultMapObj">
		select
			a.questionSeq
	   		,a.content
		    ,a.userID
		    ,a.language_select
		    ,a.writetime
		FROM question a
		WHERE 1=1
			AND 
			a.userID = #{memberSeq};
	</select>
	
	<!-- 마이페이지 답변 리스트 -->
	<select id="mypageAnsSelect" resultMap="resultMapObj">
		SELECT
			a.ansSeq
			,a.ansQuestionSeq
			,a.ansUserId
			,a.ansContent
			,a.ansWriteTime
			,b.questionSeq
		FROM answer a
		LEFT JOIN question b ON b.questionSeq = a.ansQuestionSeq
		WHERE 1=1
			AND a.ansUserId = #{memberSeq};
	</select>
	
	<!-- 마이페이지 채택 리스트 -->
	<select id="mypagePickSelect" resultMap="resultMapObj">
		SELECT 
			b.questionSeq
			,a.ansContent
			,a.ansWriteTime
		FROM answer a
		LEFT JOIN question b on b.questionSeq = a.ansQuestionSeq 
		where 1=1
			and a.ansQuestionSeq = b.questionSeq
			and a.ansSelect = 1
			and a.ansUserId = #{memberSeq};
	</select>	

</mapper>	